[role=food-menu] .categories > * {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  font-family: inherit;
}

html {
  box-sizing: border-box;
  font-family: "Roboto", Hectva sans-serif;
  font-size: 62.5%;
}
html body {
  margin: 0;
  font-size: 1.6rem;
  width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  overflow-x: hidden;
  background-color: #eee;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

[role=food-menu] {
  width: 100%;
  color: #a19f7a;
}
[role=food-menu] .categories {
  display: flex;
  padding: 2rem;
  color: rgba(213, 240, 174, 0.7);
  font-size: 1.2em;
  background-color: #821010;
  box-shadow: 0px 4px 0px rgba(0, 0, 0, 0.2);
  gap:20px;
  transition: 0.3s;
}
[role=food-menu] .categories::before {
  content: "categories:";
}
@media only screen and (width < 460px) {
  [role=food-menu] .categories::before {
    display: none;
  }
}
[role=food-menu] .categories > * {
  position: relative;
  transition: color 0.5s;
  margin-inline-start: 1rem;
}
[role=food-menu] .categories > *::after {
  content: attr(data-category);
  text-transform: capitalize;
}
[role=food-menu] .categories > *::before {
  content: "";
  display: block;
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: currentcolor;
  bottom: -2px;
  transition: width 0.5s;
}
[role=food-menu] .categories[data-selected=all] [data-category=all] {
  color: #5f55f6;
  font-weight: bold;
}
[role=food-menu] .categories[data-selected=all] [data-category=all]::before {
  width: 100%;
}
[role=food-menu] .categories[data-selected=all] + .menu .item[data-category=all] {
  display: flex;
}
[role=food-menu] .categories[data-selected=western] [data-category=western] {
  color: #5f55f6;
  font-weight: bold;
}
[role=food-menu] .categories[data-selected=western] [data-category=western]::before {
  width: 100%;
}
[role=food-menu] .categories[data-selected=western] + .menu .item[data-category~=western] {
  display: flex;
}
[role=food-menu] .categories[data-selected=asian] [data-category=asian] {
  color: #5f55f6;
  font-weight: bold;
}
[role=food-menu] .categories[data-selected=asian] [data-category=asian]::before {
  width: 100%;
}
[role=food-menu] .categories[data-selected=asian] + .menu .item[data-category~=asian] {
  display: flex;
}
[role=food-menu] .categories[data-selected=vegan] [data-category=vegan] {
  color: #5f55f6;
  font-weight: bold;
}
[role=food-menu] .categories[data-selected=vegan] [data-category=vegan]::before {
  width: 100%;
}
[role=food-menu] .categories[data-selected=vegan] + .menu .item[data-category~=vegan] {
  display: flex;
}
[role=food-menu] .categories[data-selected=dessert] [data-category=dessert] {
  color: #5f55f6;
  font-weight: bold;
}
[role=food-menu] .categories[data-selected=dessert] [data-category=dessert]::before {
  width: 100%;
}
[role=food-menu] .categories[data-selected=dessert] + .menu .item[data-category~=dessert] {
  display: flex;
}
[role=food-menu] .categories[data-selected=all] + .menu .item {
  display: flex;
}
[role=food-menu] .menu {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(24rem, 1fr));
  grid-auto-rows: 30rem;
  grid-gap: 2rem;
  padding: 2rem;
  position: relative;
}
[role=food-menu] .menu .item {
  display: none;
  position: relative;
  flex-direction: column;
  transition: all 0.5s;
  align-items: center;
}
[role=food-menu] .menu .item.sold-out .item-details {
  filter: grayscale(1) brightness(0.8);
}
[role=food-menu] .menu .item .item-details {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 6px;
  overflow: hidden;
  transition: filter 2s;
  box-shadow: 0px 3px 0px rgba(0, 0, 0, 0.3);
  border: solid 2px rgba(0, 0, 0, 0.25);
}
[role=food-menu] .menu .item .item-details .cover {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  transition: all 0.5s;
}
[role=food-menu] .menu .item .item-details .cover::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: var(--image) center/cover;
  transition: transform 0.5s;
}
[role=food-menu] .menu .item .item-details .title {
  position: absolute;
  top: 0;
  font-size: 1.5em;
  text-align: center;
  display: block;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  width: 100%;
  padding: 0 1rem;
  line-height: 2em;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
[role=food-menu] .menu .item .button-container {
  position: absolute;
  width: calc(100% - 4rem);
  max-width: 24rem;
  height: 6rem;
  margin: 0 auto;
  bottom: 2rem;
}
[role=food-menu] .menu .item .button-container > * {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
}
[role=food-menu] .menu .item .button-container button {
  font-size: 2rem;
  border: none;
  background-color: #746ddd;
  color: white;
  cursor: pointer;
  z-index: 1;
  box-shadow: 0px 4px 0px #3d3873;
  transition: all 0.2s;
  transition-property: transform, box-shadow, filter;
  border: solid 2px rgba(0, 0, 0, 0.2);
}
[role=food-menu] .menu .item .button-container button:hover {
  transform: translateY(-2px);
  box-shadow: 0px 6px 0px #3d3873;
  filter: brightness(1.2);
}
[role=food-menu] .menu .item .button-container .error {
  font-size: 2rem;
  font-weight: bold;
  background-color: #afafaf;
  color: #555;
  cursor: not-allowed;
  opacity: 0.9;
  box-shadow: 0px 2px 2px 2px rgba(0, 0, 0, 0.2) inset;
  text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.2), 0px -1px 1px rgba(0, 0, 0, 0.2);
}/*# sourceMappingURL=style.css.map */
